[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "idf-extra-components"]
	path = idf-extra-components
	url = https://github.com/espressif/idf-extra-components.git
